// Keyboard config
keybinds {
		normal {
				unbind "Ctrl q"
				unbind "Ctrl g"
			}
	}

// General config

plugins {
	tab-bar { path "tab-bar"; }
	status-bar { path "status-bar"; }
	strider { path "strider"; }
	compact-bar { path "compact-bar"; }
}

simplified_ui true

on_force_close "detach"

pane_frames false

default_shell "zsh"

theme "catppuccin-frappe"

// default_layout "compact"

