ui {
  pane_frames {
    hide_session_name false
  }
}

// Keyboard config
// keybinds clear-defaults=true {
keybinds {
  normal {
    unbind "Ctrl q"
    unbind "Ctrl g"
  }
  locked {
    bind "Ctrl g" { SwitchToMode "Normal"; }
  }
}

// General config

plugins {
	tab-bar { path "tab-bar"; }
	status-bar { path "status-bar"; }
	strider { path "strider"; }
	compact-bar { path "compact-bar"; }
}

simplified_ui true

on_force_close "detach"

pane_frames false

default_shell "zsh"

theme "catppuccin-frappe"

// default_layout "compact"
