input {
    keyboard {
        xkb {
            // For Mac 2011
            model "macbook79"
            layout "us,br"
            // variant ",nodeadkeys"
            options "compose:ralt,grp:alt_shift_toggle"
        }
        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }
    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }
}
