// Processes spawned at niri startup.

spawn-at-startup "waybar"

// Wallpaper com $HOME / ~
spawn-sh-at-startup "swaybg -i \"$HOME/Pictures/Wallpapers/wallpaper.jpg\" -m fill"
// ou:
// spawn-sh-at-startup "swaybg -i ~/Pictures/Wallpapers/wallpaper.jpg -m fill"
