// Processes spawned at niri startup.

// Escolhe o input.kdl correto por hostname (antes de qualquer coisa)
spawn-sh-at-startup "~/dotfiles/niri/select-input.sh"

spawn-at-startup "waybar"
spawn-at-startup "swaybg" "-i" "/home/borba/Pictures/Wallpapers/wallpaper.jpg" "-m" "fill"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
