// Processes spawned at niri startup.

// Escolhe o input.kdl correto por hostname (antes de qualquer coisa)
spawn-sh-at-startup "~/dotfiles/niri/scripts/select-input.sh"

spawn-at-startup "waybar"

// Wallpaper com $HOME / ~
spawn-sh-at-startup "swaybg -i \"$HOME/Pictures/Wallpapers/wallpaper.jpg\" -m fill"
// ou:
// spawn-sh-at-startup "swaybg -i ~/Pictures/Wallpapers/wallpaper.jpg -m fill"
