// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
    // block-out-from "screencast"
}

// Rounded corners for all windows.
window-rule {
    geometry-corner-radius 14
    clip-to-geometry true
}

// Noctalia shell surfaces: blurred background.
layer-rule {
    match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
    background-effect {
        blur true
        xray false
    }
}
